@font-face {
    font-family: Sansation;
    src: url('/assets/style/fonts/Sansation_Light.ttf');
}

@font-face {
    font-family: Dauphin;
    src: url('/assets/style/fonts/DauphinPlain.ttf');
}

html {
    font-family: Calibri;
    font-size: 13px;
    color: #c5d2d8;
    background: #060606 url('/assets/images/icons/background.png');
}

body {
    margin: 0;
}

img {
    vertical-align: middle;
}

input, select {
    border: 1px solid #111111;
    background: #2b2b2b;
    color: #a9a9a9;
    padding: 3px;
    outline: none;
    font-family: Calibri;
    transition: 0.2s;
}

select {
    padding: 2px;
}

input[type='text']:hover, input[type='text']:focus, input[type='password']:hover, input[type='password']:focus, input[type='button']:hover, select:hover {
    background: #3c3c3c;
}

input[type='submit'] {
    cursor: pointer;
    background: linear-gradient(to bottom, #343434 0%,#222222 100%);
}

input[type='submit']:active {
    background: linear-gradient(to bottom, #222222 0%,#343434 100%);
}

.user-area input[name='account'] {
    background: #2b2b2b url('/assets/images/icons/username.png') no-repeat 3px center/13px 13px;
}

.user-area input[name='account']:hover, .user-area input[name='account']:focus {
    background: #3c3c3c url('/assets/images/icons/username.png') no-repeat 3px center/13px 13px;
}

.user-area input[type='password'] {
    background: #2b2b2b url('/assets/images/icons/password.png') no-repeat 3px center/13px 13px;
}

.user-area input[type='password']:hover, .user-area input[type='password']:focus {
    background: #3c3c3c url('/assets/images/icons/password.png') no-repeat 3px center/13px 13px;
}

.user-area input[name='email'] {
    background: #2b2b2b url('/assets/images/icons/email.png') no-repeat 3px center/13px 13px;
}

.user-area input[name='email']:hover, .user-area input[name='email']:focus {
    background: #3c3c3c url('/assets/images/icons/email.png') no-repeat 3px center/13px 13px;
}

.user-area-logout {
    font-size: 15px; line-height: 25px; padding: 5px; margin: 5px; border: 1px solid #181818; overflow: hidden;
}

.user-area-logout input {
    cursor: pointer;
}

.user-area-resources {
    margin: 5px;
    border: 1px solid #181818;
    overflow: hidden;
    padding-bottom: 3px;
}

.user-area-resources .block {
    float: left;
    width: 27.5px;
    height: 27.5px;
    margin: 3px 0 0 3px;
    position: relative;
    background-color: rgba(0,0,0,0.3) !important;
    cursor: help;
}

.user-area-resources .block:hover {
    background-color: rgba(0,0,0,0.5) !important;
}

.user-area-resources .block span {
    position: absolute;
    top: 0;
    right: 0;
    text-shadow: 0 0 1px #000000;
    line-height: 11px;
    padding: 0 1px 1px 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

.resource-title {
    text-align: center;
    font-size: 15px;
}

.resource-block {
    overflow: hidden;
    padding: 5px;
    line-height: 25px;
    margin: 5px 0 5px 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.resource-block img {
    display: inline-block;
    margin: auto;
}

.resource-block:last-child {
    margin: 5px 0 0 0;
}

.resource-block input {
    float: right;
}

.user-area-menu {
    padding: 0 !important;
    user-select: none;
    cursor: pointer;
}

.user-area-menu .main {
    padding: 5px 5px 5px 16px;
    font-size: 14px;
    background: url('/assets/images/icons/arrow.png') no-repeat 3px center;
    overflow: hidden;
    transition: 0.5s;
    border-bottom: 1px solid #181818;
    color: #ba8615;
}

.user-area-menu .main:hover {
    background-color: #191919;
}

.user-submenu {
    display: none;
    border-bottom: 1px solid #181818;
}

.user-submenu:last-child {
    border-top: 1px solid #181818;
    border-bottom: 0;
}

.user-submenu .line {
    border-bottom: 1px solid #181818;
    padding: 5px;
    background-color: #2e2c2a;
    color: #a9a9a9;
}

.user-submenu .line:hover {
    background-color: #272626;
}

.user-submenu .line:last-child {
    border: 0;
}

::placeholder {
    color: #a9a9a9;
}

a {
    color: #20435c;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

[ajax]:hover {
    text-decoration: underline dashed;
    cursor: pointer;
}

.main-header {
    width: 100%;
    height: 200px;
    background: rgba(26,26,26,0.5) url('/assets/images/header.png') no-repeat center center;
}

.top-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    background: linear-gradient(to bottom, #262626 0%,#0f0f0f 100%);
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    overflow: hidden;
    z-index: 99;
    margin-bottom: 5px;
}

.top-bar .menu {
    float: left;
    overflow: hidden;
}

.top-bar .menu div {
    height: 45px;
    float: left;
    padding: 0 15px 0 15px;
    line-height: 45px;
    color: #e5e5e5;
    transition: 0.5s;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
}

.top-bar .menu div:hover {
    background-color: #0c0c0c;
}

.submenuBlock {
    overflow: hidden;
    display: none;
}

.submenu {
    background: url('/assets/images/icons/arrow.png') no-repeat 0px center, #131313;
    border: 1px solid #121212;
    padding: 0 5px 0 15px;
    text-decoration: none !important;
}

.submenu:hover {
    background-color: #0c0c0c;
}

.top-bar .language-field {
    float: right;
    overflow: hidden;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
}

.main-container {
    width: 1000px;
    height: 100%;
    margin: auto;
    position: relative;
}

.relative {
    position: relative;
}

.main-middle {
    overflow: hidden;
    display: flex;
}

.content-left {
    float: left;
    width: 200px;
    border: 1px solid #000000;
    border-top: 0;
    background-color: #2c2c29;
}

.content-right {
    float: right;
    width: 200px;
    border: 1px solid #000000;
    border-top: 0;
    background-color: #2c2c29;
}

.content-middle {
    float: left;
    width: 590px;
    border: 1px solid #000000;
    border-top: 0;
    margin: 0 5px 0 5px;
    background-color: #2c2c29;
}

.bottom-bar {
    width: 100%;
    background: linear-gradient(to bottom, #262626 0%,#0f0f0f 100%);
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    margin-top: 5px;
}

.bottom-bar .footer {
    padding: 10px;
    text-align: center;
}

.footer .title {
    font-size: 16px;
    color: #726b5b;
}

.footer .desc {
    font-size: 11px;
    color: #4c4639;
}

.content-main-title {
    border-top: 1px solid #000000;
    padding: 5px 5px 5px 20px;
    background: url('/assets/images/icons/arrow.png') no-repeat 5px center, #131313;
    font-size: 15px;
    text-transform: uppercase;
}

.content-middle-title {
    border-top: 1px solid #000000;
    padding: 5px;
    background: #131313;
    font-size: 15px;
    text-transform: uppercase;
}

.content-main-box {
    position: relative;
    border-top: 2px solid #477110;
}

.padding {
    padding: 5px;
}

.table-classic {
    width: 100%;
    /*border-collapse: collapse;*/
    border-spacing: 5px;
    border: 1px solid #3c3c3c;
    background: #1b1b1b;
    font-size: 12px;
}

.table-classic td {
    padding: 5px;
    border-radius: 3px;
}

.table-classic tr:nth-child(2n+0) td {

    border: 1px solid #352d26;
}

.table-classic tr:nth-child(2n+1) td {
    background-color: #2c2c29;
}

.table-classic th {
    font-weight: normal;
    font-size: 14px;
}

.table-classic tr td:first-child {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    padding: 0;
    text-align: center;
    font-size: 16px;
}

.table-classic tr td:last-child {
    padding: 0;
}

.table-classic .rankings-charimg {
    padding: 0 !important;
    width: 25px;
    height: 25px;
    background-size: contain;
}

.table-comments {
    width: -webkit-calc(100% - 10px);
    width:    -moz-calc(100% - 10px);
    width:         calc(100% - 10px);
    border-collapse: collapse;
    border: 1px solid #181818;
    background: #232220;
    font-size: 12px;
    margin: 5px;
}

.table-middle {
    margin: auto;
    border-spacing: 0;
}

.table-middle td {
    padding: 2.5px;
}

/*:not([type='submit'])*/
.table-middle input {
    width: 117px;
}

.table-middle input[type='submit'], .table-middle input[type='reset'] {
    width: 125px;
}

.table-form {
    width: 270px;
    margin: 5px auto;
    border-spacing: 5px;
    border: 1px solid #3c3c3c;
    background: #1b1b1b;
}

.table-form tr td {
    text-align: right;
    width: 50%;
}

.table-form input {
    width: 120px;
}

label {
    display: block;
    background: #3c3c3c;
    border: 1px solid #111111;
    height: 17px;
    width: 117px;
    text-align: right;
    padding: 3px;
}

.rankings-guild {
    width: 26px;
    height: 26px;
}

.paging-left {
    float: left;
    width: 30%;
    text-align: left;
}

.paging-right {
    float: right;
    width: 30%;
    text-align: right;
}

.paging-button {
    display: inline;
    height: 15px;
    padding: 0 3px 0 3px;
    border: 1px solid #3c3c3c;
    border-radius: 3px;
    line-height: 15px;
    cursor: pointer;
}

.paging-select {
    padding: 0;
    height: 19px;
    margin: 0 4px 0 4px;
    display: inline;
    background-color: transparent;
    border: 1px solid #3c3c3c;
    color: #7a7a7a;
}

#user-area-login .left {
    float: left;
    width: 65%;
}

#user-area-login .right {
    float: right;
    width: -webkit-calc(35% - 5px);
    width:    -moz-calc(35% - 5px);
    width:         calc(35% - 5px);
    background-color: #00008B;
    height: 61px;
}

#user-area-login .right input {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#user-area-login .left input {
    width: -webkit-calc(100% - 23px);
    width:    -moz-calc(100% - 23px);
    width:         calc(100% - 23px);
    padding-left: 18px;
    height: 20px;
}

#user-area-login .left input:first-child {
    margin-bottom: 5px;
}

#user-area-login .left {
    margin-right: 5px;
}

.user-area input[type='button'] {
    margin-top: 5px;
    width: 100%;
    font-size: 11px;
    cursor: pointer;
}

.loginFields, #user-area-forgotten {
    display: none;
}

.loginFields input[type='text'], .loginFields input[type='email'], .loginFields input[type='password'] {
    width: -webkit-calc(100% - 25px);
    width:    -moz-calc(100% - 25px);
    width:         calc(100% - 25px);
    height: 20px;
    margin-top: 5px;
    padding-left: 20px;
}

.loginFields input[type='submit'], .loginFields input[type='button'] {
    width: 100%;
    margin-top: 5px;
}

.loginFields input:first-child {
    margin: 0;
}

.live-feed {
    background-color: #232220;
    border: 1px solid #181818;
    padding: 5px;
    height: 200px;
    font-size: 12px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
    border-left: 1px solid #181818;
}

::-webkit-scrollbar-track {
    /*background: #000000;*/
}

::-webkit-scrollbar-thumb {
    background: #666666; 
}

::-webkit-scrollbar-thumb:hover {
    background: #454545; 
}

.live-feed div {
    margin-bottom: 4px;
}

.live-feed div:last-child {
    margin: 0;
}

.content-sub-title {
    padding: 5px;
    margin: 5px 5px 0 5px;
    background: linear-gradient(to bottom, #262626 0%,#0f0f0f 100%);
    border: 1px solid #181818;
    border-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}

.content-sub-box {
    background-color: #232220;
    border: 1px solid #181818;
    border-top: 0;
    padding: 5px;
    margin: 0 5px 5px 5px;
}

.content-sub-boxonly {
    background-color: #232220;
    border: 1px solid #181818;
    padding: 5px;
    margin: 5px;
    overflow: hidden;
}

.content-sub-boxonly.information {
    padding: 0;
    overflow: hidden;
}

.content-sub-boxonly.information .line {
    overflow: hidden;
    padding: 7px 5px 7px 5px;
    border-bottom: 1px solid #181818;
    font-size: 14px;
    transition: 0.5s;
}

.content-sub-boxonly.information .line:hover {
    background-color: #191919;
    cursor: pointer;
}

.content-sub-boxonly.information .line:last-child {
    border: 0;
}

.content-sub-boxonly.information .right {
    float: right;
}

.information .right span {
    padding: 2px 4px 2px 4px;
    border-radius: 5px;
    background-color: #43403e;
}

.information .right span.online {
    background-color: #477110;
}

.information .right span.offline {
    background-color: #984848;
}

.news-title {
    font-family: Sansation, Calibri;
    font-size: 18px;
    text-align: left;
    text-transform: none;
}

.news-title font {
    text-decoration: none !important;
}

.news-title .tag-block {
    display: inline-block;
    padding: 1px 3px 1px 3px;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.5s;
    user-select: none;
}

.news-title .tag-news {
    background-color: #477221;
}

.news-title .tag-info {
    background-color: #235f89;
}

.news-title .tag-update {
    background-color: #a0803b;
}

.news-content {
    border-bottom: 0;
    margin-bottom: 0;
    text-align: justify;
    overflow: hidden;
}

.news-content img {
    float: left;
    border: 1px solid #000000;
    margin: 0 5px 5px 0;
    width: 83px;
    height: 83px;
    cursor: pointer;
}

.news-info {
    background-color: #1b1b1b;
    border: 1px solid #181818;
    border-top: 0;
    padding: 5px;
    margin: 0 5px 5px 5px;
    font-size: 11px;
    overflow: hidden;
}

.news-info .comments {
    float: left;
}

.news-info .comments img {
    max-height: 13px;
    vertical-align: top;
}

.news-info .posted {
    float: right;
}

.news-reply-block {
    margin: 10px 5px 10px 5px; padding: 5px; border: 1px solid #181818;
    overflow: hidden;
}

.news-reply-block textarea {
    border: 1px solid #111111;
    background: #3c3c3c;
    color: #a9a9a9;
    padding: 5px;
    outline: none;
    font-family: Calibri;
    transition: 0.2s;
    display: block;
    float: left;
    height: 38px;
    width: -webkit-calc(100% - 67px);
    width:    -moz-calc(100% - 67px);
    width:         calc(100% - 67px);
    resize: none;
    overflow-y: auto;
}

.news-reply-block input {
    width: 50px;
    height: 50px;
    float: right;
}

.news-reply-block .reply {
    float: left;
    padding: 3px;
    margin: 3px 0 3px 3px;
    background-color: #225579;
    cursor: pointer;
}

.news-reply-block .emojis {
    float: left;
    padding: 5px;
}

.news-comment {
    margin: 5px;
    text-align: justify;
    background-color: #232220;
    border: 1px solid #181818;
}
.news-comment.reply {
    position: relative;
    margin-left: 30px;
    border-radius: 10px;
}

.news-comment.reply .message {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.reply-block {
    position: relative;
    width: 100%;
}

.reply-line {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 5px;
    width: 22px;
    height: 100%;
}

.reply-line .line {
    width: 2px;
    height: 100%;
    background-color: #856a2f;
    border-radius: 2px;
    cursor: pointer;
}

.reply-block:hover .reply-line .line {
    background-color: #e8ae2f;
}

.news-comment.reply .circle {
    position: absolute;
    left: -19px;
    top: 16px;
    width: 6px;
    height: 6px;
    border: 1px solid #232220;
    background-color: #e8ae2f;
    border-radius: 50%;
}

.news-comment .arrow {
    width: 0;
    height: 0;
    border-left: 6.5px solid transparent;
    border-right: 6.5px solid transparent;
    float: left;
    cursor: pointer;
}

.news-comment .arrow.up {
    margin: 0 3px 0 0;
    border-bottom: 13px solid #59544b;
}

.news-comment .arrow.down {
    margin: 2px 3px 0 0;
    border-top: 13px solid #59544b;
}

.news-comment .arrow.up:hover {
    border-bottom: 13px solid #477110;
}

.news-comment .arrow.down:hover {
    border-top: 13px solid #984848;
}

.news-comment .posted-by {
    font-size: 11px;
    padding: 3px 5px 3px 3px;
    overflow: hidden;
    color: #999285;
}

.news-comment .rate-circle {
    float: left;
    height: 13px;
    text-align: center;
    border-radius: 50%;
    background-color: #225579;
    padding: 1px 4px 1px 4px;
    color: #d3cdc3;
}

.news-comment .message {
    background-color: #2e2d2b;
    padding: 3px;
}

.image-preview-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-preview-container img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #000000;
}

.eventsList .eventBlock {
    padding: 5px;
    border-bottom: 1px solid #181818;
}

.eventsList .eventBlock:hover {
    background-color: #191919;
    cursor: pointer;
}

.eventsList .eventBlock:last-child {
    border: 0;
}

.eventsList .eventBlock .title {
    font-size: 17px;
    color: #9d741c;
}

.eventsList .eventBlock .bottom {
    overflow: hidden; font-size: 12px;
    color: #686c22;
}

.eventsList .eventBlock .bottom b {
    overflow: hidden; font-size: 12px;
    color: #7f842a;
}

.notice-right {
    float: right;
}

.notice-circle {
    display: block;
    width: 17px;
    height: 17px;
    text-align: center;
    border-radius: 50%;
    background-color: #43403e;
}

.highlighter {
    display: inline-block;
    background-color: #43403e;
    border-radius: 5px;
    padding: 0 3px 0 3px;
    height: 18px;
    line-height: 18px;
    
}

/*
    Storage rendering
*/

.storage-frame {
    position: relative;
    display: inline-block;
    margin-top: 17px;
    background:
        url('/assets/images/items/frame-corner-bottom-right.png') no-repeat bottom right,
        url('/assets/images/items/frame-corner-bottom-left.png') no-repeat bottom left,
        url('/assets/images/items/frame-corner-top-left.png') no-repeat top left,
        url('/assets/images/items/frame-corner-top-right.png') no-repeat top right,
        url('/assets/images/items/frame-border-top.png') no-repeat top/100% 16px,
        url('/assets/images/items/frame-border-right.png') no-repeat right/16px 100%,
        url('/assets/images/items/frame-border-bottom.png') no-repeat bottom/100% 16px,
        url('/assets/images/items/frame-border-left.png') no-repeat left/16px 100%;
}

.storage-items {
    position: relative;
    width: 208px;
    height: 390px;
    margin: 16px;
    background-image: url('/assets/images/items/slot.png');
    border-left: 1px solid #31332e;
    border-top: 1px solid #31332e;
}

.storage-title {
    position: absolute;
    width: 208px;
    top: -17px;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
    font-size: 16px;
}

.storage-items-squares {
    width: 100%;
    height: 100%;
}

/*#storageItemMenu {*/
    /*position: absolute;*/
    /*right: -70px;*/
    /*top: 0px;*/
    /*width: 70px;*/
    /*height: 100px;*/
    /*background: #235f89;*/
/*}*/

.draggable-item {
    position: absolute;
    cursor: grab;
    border: 1px solid transparent;
}

.draggable-item:hover {
    background-color: rgba(156,119,26,0.2) !important;
    border: 1px dotted #9d741c;
}

#left-storage.hovered, #right-storage.hovered {
    outline: 1px dotted #9c771a;
}

@media only screen and (max-width: 1010px) {
    .main-container {
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width: 900px) {
    .dissapearOnMobile {
        display: none;
    }

    .top-bar .menu, .top-bar .menu div {
        float: none;
        display: block;
    }

    .main-middle {
        display: block;
    }

    .content-left, .content-middle, .content-right {
        float: none;
        display: inline-block;
        width: 100%;
        border: 0;
    }

    .content-left, .content-middle {
        margin: 0 0 5px 0;
    }

    .top-bar {
        position: relative;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    #ajaxRequests {
        width: 100% !important;
        margin: 0 !important;
        left: 0 !important;
        top: 0 !important;
    }
}

.ajaxLoader {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7) url('/assets/images/others/loading.gif') no-repeat center 100px/100px 100px;
    z-index: 9999;
}

#ajaxRequests {
    display: none;
    position: fixed;
    top: 80px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    overflow: hidden;
    z-index: 999;

}

.messageBlock {
    border-radius: 5px;
    padding: 5px 5px 5px 26px;
    border: 1px solid #1b1b1b;
    background: #4a402d url('/assets/images/icons/info.png') no-repeat 4px 3px/18px 18px;
}

.notice {
    border-radius: 5px;
    margin: 5px;
    padding: 5px 5px 5px 30px;
    line-height: 20px;
    border: 1px solid #181818;
    background-color: #232220;
}

.notice.error {
    background: #eca1a8 url('/assets/images/icons/error.png') no-repeat 5px 5px/20px 20px;
    border: 1px solid #b05961;
    color: #721c24;
}

.notice.success {
    background: #9be898 url('/assets/images/icons/success.png') no-repeat 5px 5px/20px 20px;
    border: 1px solid #165d13;
    color: #165d13;
}

.notice.info {
    background: #bee0f1 url('/assets/images/icons/info.png') no-repeat 5px 5px/20px 20px;
    border: 1px solid #75c8d9;
    color: #31708f;
}